body, html {
  background: #335C81;
  color: black; }

button {
  background: #65AFFF;
  border: 0;
  color: black; }

.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  flex-flow: column;
  display: flex; }

.header {
  background: #272538;
  display: flex;
  min-height: 70px; }

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; }

.footer {
  display: flex;
  background: #272538;
  min-height: 70px; }

.header-right {
  margin-right: 10px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center; }

.header-badge {
  min-width: 100px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px; }

.auth-form {
  background: #272538;
  padding: 10px;
  width: 300px; }

.auth-element {
  height: 40px;
  display: flex; }

.auth-error {
  background: #F87060;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 5px; }

.auth-element {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row; }

.auth-element label {
  flex: 3;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  color: white; }

.auth-element input {
  flex: 5;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto; }

.auth-submit {
  height: 30px;
  display: flex;
  flex-direction: 1; }

.auth-submit button {
  flex: 1; }
