body, html {
  background: #494947; }

.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  flex-flow: column;
  display: flex; }

.header {
  background: #0A2463;
  display: flex;
  min-height: 70px; }

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; }

.footer {
  display: flex;
  background: #0A2463;
  min-height: 70px; }

.header-right {
  margin-right: 10px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center; }

.header-badge {
  background: #F56476;
  min-width: 100px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border: 0; }

.auth-form {
  background: #C1EDCC;
  padding: 10px; }

.auth-error,
.auth-element,
.auth-submit {
  height: 40px;
  width: 300px;
  display: flex; }

.auth-error {
  background: #F56476;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; }

.auth-element {
  background: #C1EDCC;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row; }

.auth-element label {
  flex: 1;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto; }

.auth-element input {
  flex: 2;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px; }

.auth-submit button {
  width: 100%; }
