.m5 {
  margin: 5px; }

.mt10 {
  margin-top: 10px; }

.b1 {
  border-style: solid;
  border-width: 1px;
  border-color: #272538; }

body, html {
  background: #97BCBF;
  color: black; }

button {
  background: #75B9BE;
  border: 0;
  color: black; }

.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  flex-flow: column;
  display: flex; }

.header {
  background: #272538;
  display: flex;
  min-height: 70px; }

.content {
  -webkit-flex: 1;
  display: flex;
  flex-flow: row; }

.footer {
  display: flex;
  background: #272538;
  min-height: 70px; }

.header-right {
  margin-right: 10px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.header-badge {
  min-width: 100px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px; }

.router {
  -webkit-flex: 1;
  display: flex; }

.invites {
  -webkit-flex: 1;
  display: flex;
  flex-direction: column; }

.auth-form {
  background: #272538;
  padding: 10px;
  width: 300px;
  align-self: center;
  margin-left: auto;
  margin-right: auto; }

.auth-element {
  height: 40px;
  display: flex; }

.auth-error {
  background: #F87060;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 5px; }

.auth-element {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row; }

.auth-element label {
  flex: 3;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  color: white; }

.auth-element input {
  flex: 5;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto; }

.auth-submit {
  height: 30px;
  display: flex;
  flex-direction: 1; }

.auth-submit button {
  -webkit-flex: 1; }

.sidebar {
  max-width: 200px;
  min-width: 120px;
  -webkit-flex: 1;
  background: #75B9BE;
  border-right-style: solid;
  border-right-width: 5px;
  border-right-color: #272538; }

.main-content {
  padding: 10px;
  flex: 7;
  display: flex; }

.sidebar-link {
  margin: 5px 5px 5px 5px;
  display: flex;
  height: 30px;
  background: #E58270;
  padding-left: 10px;
  align-items: center;
  cursor: pointer; }

.sidebar-link:hover {
  color: white; }

.sidebar-link.selected {
  background: #272538;
  color: white; }

.league-lists {
  margin-top: 5px;
  -webkit-flex: 1;
  flex-flow: column;
  display: flex; }

.league-list {
  -webkit-flex: 1;
  display: flex;
  flex-direction: column; }

.full-list {
  -webkit-flex: 1;
  display: flex;
  flex-flow: column; }

.list-label {
  border-bottom-style: solid;
  border-bottom-width: 1px; }

.full-list-body {
  -webkit-flex: 1;
  display: flex;
  flex-direction: column; }

.full-list tr {
  display: flex;
  flex-flow: row;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer; }

.full-list tr:hover {
  background: #75B9BE;
  color: white; }

td.title {
  margin-left: 10px;
  flex: 7; }

td.right {
  flex: 3; }

.dark-row {
  background: #272538;
  color: white; }

.table-right-buttons {
  display: flex;
  flex-direction: row; }

.table-button {
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
  background: #E58270;
  min-width: 50px; }

.expandable-container {
  margin: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #272538;
  display: flex;
  flex-flow: column; }

.expandable-label {
  background: #E58270;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center; }

.expandable-label:hover {
  color: white; }

.expandable-label.expanded:hover {
  color: #E58270; }

.expandable-label.expanded {
  background: #272538;
  color: white;
  padding-bottom: 10px; }

.expanded-content {
  -webkit--webkit-flex: 1;
  display: flex;
  background: #272538;
  padding: 0px 10px 10px 10px; }

.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
  margin-right: 20px; }

.chevron.right:before {
  left: 0;
  transform: rotate(45deg); }

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg); }

.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg); }

.league-view-container {
  -webkit-flex: 1;
  display: flex;
  flex-flow: column; }

.newleague-form, .invite-form {
  -webkit-flex: 1;
  flex-flow: column;
  display: flex; }

.form-error {
  background: #F87060;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px; }

.form-element {
  display: flex;
  flex-flow: row;
  margin-bottom: 10px;
  background: #75B9BE;
  padding: 10px; }

.form-element label {
  min-width: 100px;
  text-align: center; }

.form-element input {
  -webkit-flex: 1;
  margin-left: 10px;
  margin-right: 10px; }

.form-submit {
  display: flex;
  align-items: center;
  justify-content: center; }

.form-submit button {
  background: #E58270;
  padding: 10px;
  -webkit-flex: 1; }

.form-submit button:hover {
  color: white; }
