.league-title{
  margin: 0px;
  padding-left: 5px;
}

.league-view-container{
  -webkit-flex: 1;
  display: flex;
  flex-flow: column;
}

.league-content{
  display: flex;
  margin: 5px;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 5px;
  flex-flow: column;
}

.add-button{
  background: $foreground2;
  padding: 5px;
  min-width: 100px;
  margin-right: 0px;
  margin-left: auto;
}

.close-modal{
  position: absolute;
  right: 5px;
  top: 5px;
  background: $foreground2;
  padding: 5px;
  min-width: 70px;
}