$background1: #97BCBF;
$background2: #272538;
$foreground1: #75B9BE;
$foreground2: #E58270;

$error-color: #F87060;

$dark-text: black;
$light-text: white;

$header-height: 70px;
$footer-height: 70px;

$sidebar-max: 200px;
$sidebar-min: 120px;