$background1: #335C81;
$background2: #272538;
$foreground1: #65AFFF;
$foreground2: #272538;

$error-color: #F87060;

$dark-text: black;
$light-text: white;

$header-height: 70px;
$footer-height: 70px;

$sidebar-max: 200px;
$sidebar-min: 120px;