.sidebar{
  max-width: $sidebar-max;
  min-width: $sidebar-min;
  -webkit-flex: 1; 
  background: $foreground1;
  border-right-style: solid;
  border-right-width: 5px;
  border-right-color: $background2;
}

.main-content{
  padding: 10px;
  flex: 7;
  display: flex;
}

.sidebar-link{
  margin: 5px 5px 5px 5px;
  display: flex;
  height: 30px;
  background: $foreground2;
  padding-left: 10px;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar-link:hover{
  color: $light-text;
}

.sidebar-link.selected{
  background: $background2;
  color: $light-text;
}