.full-list{
  -webkit-flex: 1;
  display: flex;
  flex-flow: column;
}

.list-label{
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.full-list-body{
  -webkit-flex: 1;
  display: flex;
  flex-direction: column;
}

.full-list tr{
  display: flex;
  flex-flow: row;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.full-list tr:hover{
  background: $foreground1;
  color: $light-text;
}

td.title{
  margin-left: 10px;
  flex: 7;
}

td.right{
  flex: 3;
}

.dark-row{
  background: $background2;
  color: $light-text;
}

.table-right-buttons{
  display: flex;
  flex-direction: row;
}

.table-button{
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
  background: $foreground2;
  min-width: 50px;
}