.full-list{
  flex: 1;
  display: flex;
  flex-flow: column;
}

.list-label{
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.full-list-body{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.full-list tr{
  display: flex;
  flex-flow: row;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.full-list tr:hover{
  background: $foreground1;
  color: $light-text;
}

td.title{
  margin-left: 10px;
  flex: 7;
}

td.right{
  flex: 3;
}

.light-row{
  background: $background1;
}